@using Daniel_Klement.Enums.Socials

<a href="@Href" target="_blank">
    <i class="@GetIconClass(SocialMediaType)"></i>
</a>

@code {
    /// <summary>
    /// URI to the social media page
    /// </summary>
    [Parameter, EditorRequired] public required string Href { get; set; }

    /// <summary>
    /// Type of the social media
    /// </summary>
    [Parameter, EditorRequired] public required SocialMedia SocialMediaType { get; set; }

    private string GetIconClass(SocialMedia icon)
    {
        return icon switch
        {
            SocialMedia.Facebook => "fab fa-facebook-f",
            SocialMedia.Twitter => "fab fa-twitter",
            SocialMedia.Instagram => "fab fa-instagram",
            SocialMedia.LinkedIn => "fab fa-linkedin-in",
            _ => throw new ArgumentOutOfRangeException(nameof(icon), icon, null)
        };
    }
}