@inherits LayoutComponentBase
@using Daniel_Klement.Blazor.Components.Menu.Navigation;

<header class="top-row">
    <Image Src="/" Alt="Logo" Title="Logo" SrcSet="/" Width="0" Height="0" Loading="Enums.Loading.ImageLoading.Eager" Sizes="" />

    <MainMenu />
</header>

<main>
    @Body
</main>
