@using Daniel_Klement.Blazor.Components.Links

<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/about">About</NavLink></li>
        <li><NavLink href="/blog">Blog</NavLink></li>
        <li><NavLink href="/contact">Contact</NavLink></li>
    </ul>
    <div>
        <SocialMediaLink Href="https://www.facebook.com" SocialMedia="Enums.Socials.SocialMedia.Facebook" />
        <SocialMediaLink Href="https://www.twitter.com" SocialMedia="Enums.Socials.SocialMedia.Twitter" />
        <SocialMediaLink Href="https://www.instagram.com" SocialMedia="Enums.Socials.SocialMedia.Instagram" />
        <SocialMediaLink Href="https://www.linkedin.com" SocialMedia="Enums.Socials.SocialMedia.LinkedIn" />
    </div>
</nav>

@code {

}
