@using Daniel_Klement.Blazor.Components.Links

<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/about">About</NavLink></li>
        <li><NavLink href="/blog">Blog</NavLink></li>
        <li><NavLink href="/contact">Contact</NavLink></li>
    </ul>
    <div>
        <SocialMediaLink Href="https://www.facebook.com" Icon="fab fa-facebook-f" />
        <SocialMediaLink Href="https://www.twitter.com" Icon="fab fa-twitter" />
        <SocialMediaLink Href="https://www.instagram.com" Icon="fab fa-instagram" />
        <SocialMediaLink Href="https://www.linkedin.com" Icon="fab fa-linkedin-in" />
    </div>
</nav>

@code {

}
