@inherits LayoutComponentBase
@using Musakai.Blazor.Components.Menu.Navigation;
@using Musakai.Blazor.Components.Footers;

<header class="top-row">
    <MainMenu />
</header>

<main>
    @Body
</main>

<MainFooter />